
#json-view, #mustache-view, #mustache-output, .cm-wrap {
    height: 100%;
}

.plating-view {
    height: 33vh;
}



@media (min-width: 768px) {
    .plating-view {
        height: 95vh !important;
    }

} 

